:root {
    --font-family-primary: "Source Sans 3", serif;
    /* font size */
    --fs-extra-small: 21px;
    --fs-sm: 32px;
    --fs-base: 35px;
    --fs-md: 49px;
    --fs-lg: 76px;
    --fs-xl: 80px;
    /* color */
    --color-whisky-sour: #EBA82C;
    --color-vibrant-honey: #FEBE32;
    --color-rage: #FF132D;
    --color-white: #FFFFFF;
    --color-light-black: #00000040;
    --color-coco-black: #1D1D1B;
    --bg-white-smoke: #F5F5F5;
    --bg-xanthous: #F3B72C;
    --color-blue: #009FE3;
    --color-silver: #8F9090;
    --color-black: #000000;
    --color-suzu-grey: #9DA1A2;
}

/* font family */
.font-family-primary {
    font-family: var(--font-family-primary);
}

/* color */
.color-coco-black {
    color: var(--color-coco-black);
}

.color-silver {
    color: var(--color-silver);
}

.bg-white-smoke {
    background-color: var(--bg-white-smoke);
}

.color-vibrant-honey {
    color: var(--color-vibrant-honey);
}

.color-rage {
    color: var(--color-rage);
}

.color-blue {
    color: var(--color-blue);
}

.bg-blue {
    background-color: var(--color-blue);
}

.bg-whisky-sour {
    background-color: var(--color-whisky-sour);
}

/* font size */
.fs-extra-small {
    font-size: var(--fs-extra-small);
}

.fs-sm {
    font-size: var(--fs-sm);
}

.fs-base {
    font-size: var(--fs-base);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.fs-xl {
    font-size: var(--fs-xl);
}

@media (max-width:767.98px) {
    :root {
        --fs-lg: 60px;
        --fs-xl: 70px;
        --fs-sm: 26px;
    }
}

@media (max-width:575.98px) {
    :root {
        --fs-lg: 50px;
        --fs-md: 34px;
        --fs-xl: 50px;
        --fs-sm: 20px;
    }
}

@media (max-width:474.98px) {
    :root {
        --fs-lg: 33px;
    }
}