@import url(../css/root.css);
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.max-w-1177 {
    max-width: 1177px !important;
}

.max-w-1100 {
    max-width: 1138px !important;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.rotate-42 {
    transform: rotate(42deg);
}

.z-5 {
    z-index: 5;
}

.rotate-43 {
    transform: rotate(-43deg);
}

.gap-38 {
    gap: 38px;
}

.py-18 {
    padding-top: 18px;
    padding-bottom: 18px;
}

.text-hover {
    transition: all 200ms linear;
}

.text-hover:hover {
    color: var(--color-whisky-sour) !important;
}

.bg-shadow {
    box-shadow: 0px 4px 8px 0px var(--color-black);
}

/* line height */
.lh-20 {
    line-height: 20.11px;
}

.lh-21 {
    line-height: 21px;
}

.lh-80 {
    line-height: 80px;
}

/* header */
.bg-img {
    background-image: url(../images/png/header-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.bring-btn {
    padding: 11px 22px 11px 22px;
    border-radius: 47px;
    border: 2px solid var(--color-white);
    margin-top: 25px;
}

.bring-btn:hover {
    color: var(--color-whisky-sour) !important;
    background-color: var(--color-white) !important;
}

.boxly-img {
    left: 0px;
    bottom: 10px;
    pointer-events: none;
}

@media (max-width:991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        background-color: var(--color-white) !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 5;
    }

    .show-navbar {
        right: 0 !important;
    }

    .lh-80 {
        line-height: normal;
    }

    .z_2 {
        z-index: 2;
    }
}

@media (max-width:575.98px) {
    .w_100 {
        width: 100%;
    }

    .max-w-350 {
        max-width: 350px;
    }
}